@model Forums.ViewModels.Home.HomeIndexModel

<div class="container">
    <div class="row frontPageSplash">
        <div class="col-6 frontPageLearn">
            <div class="frontPageHeading">
                Learn, Collaborate, Share Knowledge
            </div>
        </div>
    </div>
</div>